<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dossier {{.Title}}</title>
		<script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.fancybox-2.1.5.pack.js"></script>
		<script type="text/javascript" src="/static/js/gallery.js"></script>
    <script type="text/javascript" src="/static/js/tagmanager.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.fancybox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/css/gallery.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/css/tagmanager.css" media="screen" />
	</head>
	<body>
		{{if .Breadcrum}}
			<div class="breadcrum"><a href="/ui/">Home</a>
				{{range .Breadcrum}} &raquo;
					{{if .Link}}
					<a href="/ui/{{.Link}}">{{.Name}}</a>
					{{else}}
					{{.Name}}
					{{end}}
				{{end}}
				<a href=""><img src="/static/img/arrow_rotate_clockwise.png"></a>
			</div>
		{{end}}
		{{if .Values}}
			{{range $month := .Months}}
				<div class="month">{{index $.MonthsName $month}}</div>
				<div class="flex-container folders">
				{{ range $value := index $.Values $month }}
					<div class="flex-folder {{ $value.Class }}"><a href="/ui/{{ $.Folder }}{{ $value.Link }}" title="{{ $value.Link }}">
						{{if $value.Image }}
							<img src="/thumb/{{ $.Folder }}{{ $value.Link }}/{{ $value.Image }}" alt="{{ $value.Link }}">
						{{else}}
							<img src="/static/img/folder_blue.png">
						{{end}}
						<p>{{ $value.Name }}</p></a></div>
				{{ end }}
				</div>
			{{end}}
		{{end}}
		{{if .Pictures}}
			<div class="picture">Contenu du dossier '{{ .Title}}' <span>{{len .Pictures}} éléments</span></div>
			<div class="flex-container pictures">
				{{range .Pictures}}<div class="flex-img"><a class="fancybox fancybox.image" rel="group" href="/img/{{ $.Folder }}{{ . }}" title="{{ . }}"><img src="/thumb/{{ $.Folder }}{{ . }}" alt="{{ . }}"/></a></div>
				{{end}}
				{{range .Videos}}<div class="flex-img"><a class="fancybox fancybox.html" rel="group" href="/download/{{ $.Folder }}{{ . }}" title="{{ . }}" data-width="640" data-height="480" data-video="video"><img src="/static/img/video-play.png" alt="{{ . }}" /></a></div>
				{{end}}
			</div>
		{{end}}
		<script type="text/javascript">
		tags = {
		{{ range $key, $value := .TagsPictures }}
		   "{{ $key }}" : [{{ range $value }}"{{.}}", {{end}}],
		{{ end }}
		}
		</script>
	</body>
</html>
