<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dossier {{.Title}}</title>
		<script type="text/javascript" src="static/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="static/js/jquery.fancybox-2.1.5.pack.js"></script>
		<script type="text/javascript" src="static/js/webcam.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/jquery.fancybox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="static/css/webcam.css" media="screen" />
	</head>
	<body>
		<div class="title">Parcours du dossier {{.Title}}</div>
		{{if .Folders}}
		<div class="flex-container folders">
			{{range .Folders}}<div class="flex-folder"><a href="/{{ .Link }}">{{ .Name }}</a></div>
			{{end}}
	  </div>
		{{end}}
		{{if .Pictures}}
		<div class="flex-container pictures">
			{{range .Pictures}}<div class="flex-img"><a class="fancybox" rel="group" href="/img/{{$.Title}}/{{ . }}" title="{{ . }}"><img src="/thumb/{{$.Title}}/{{ . }}" alt=""/></a></div>
			{{end}}
		</div>
		{{end}}
	</body>
</html>
