body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: #3084bb;
}

a:active, a:focus {
  outline: none;
}

.deactivated {
  color: #cccccc !important;
}

.main {
  background-color: #faf9f9;
  border-radius: 10px;
}

.main .nav {
  padding: 0.5em;
}

.container {
  width: 100%;
}

.nav .breadcrumb {
  float: left;
  margin: 7px 10px;
  background: inherit;
}

img.logo {
  width: 50px;
  float: left;
  padding-right: 10px;
  margin-top: 5px;
  margin-left: 1em;
}

.breadcrumb > li + li::before {
  color: #ccc;
  content: "\00BB";
  padding: 0 10px 0 0;
}

.breadcrumb.list-inline > li {
  padding-right: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.flex-folder {
  position: relative;
  border: 3px solid transparent;
  margin: 20px;
  opacity: 0.8;
}

.flex-folder a {
  text-decoration: none;
  color: inherit;
}

.flex-folder.folder-short {
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.flex-folder p {
  bottom: -0.5em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Georgia,"Times New Roman",serif;
  position: absolute;
}

.flex-folder > a > .legend {
  opacity: 0;
  transition: opacity 500ms;
}

.flex-folder:hover > a > .legend {
  opacity: 100%;
}

.legend {
  line-height: 2em;
}

.folder-short p {
  right: 0;
  font-size: 300%;
}

.folder-long p, .folder-normal p, .folder-new p {
  font-size: 150%;
  padding-bottom: 6px;
  bottom: -10px;
}

.folder-long p, .folder-normal p {
  padding-left: 9px;
  white-space: nowrap;
  overflow: hidden;
}

.folder-new p {
  text-align: center;
}

.folder-new img {
  margin-left: 5px;
}

.folder-long p:hover {
  width: inherit;
  z-index: 20;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 22%, rgba(0,0,0,0.65) 48%, rgba(0,0,0,0.65) 100%);
  border-radius: 10px;
  padding: 4px 6px 6px 9px;
}

.folder-thumb {
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.flex-img img.thumb {
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  margin: 20px;
}

.flex-img img.over{
  position: relative;
  left: 20px;
  z-index: 100;
  padding: 10px;
}

.folder-delete img.thumb {
  width: 25px;
  position: absolute;
  right: -10px;
  top: -10px;
}

.folder-delete img.no-thumb {
  width: 25px;
  position: absolute;
  right: -10px;
  top: 15px;
}

.group {
  font-size: 150%;
  padding: 0.5em;
}

.separator {
  border-bottom: 1px solid #ddd;
}

.small {
  height: 0;
}

.day {
  font-size: 120%;
  padding: 1em;
}

.nada {
  padding: 0.5em 0 1em 0.5em;
}

#albums {
  padding: 0 10px;
}

.select {
  user-select: all;
  cursor: pointer;
}

#title-picture {
  font-size: 150%;
  padding: 0.5em;
}

#title-picture .legend {
  font-size: 60%;
  color: #888;
}

#title-picture .categories, #title-picture .place {
  margin-left: 5px;
}

footer.footer {
  text-align:center;
  margin:10px auto;
  color: #999;
}

.small-size {
  width: 20px;
}

/* spotlight */

a.gallery {
  cursor: pointer;
}
.spl-download-original {
  background-image: url("../img/spl-download.svg");
  background-size: 20px;
}

.spl-header .spl-tag {
  width: auto;
  margin-left: 10px;
  opacity: 0.7;
}

.spl-header .spl-tag > span {
  padding: 5px;
}

.spl-header .spl-tag.on > span {
  background: #5bc0de;
}

.spl-header .spl-separator {
  width: 5px;
  margin: 0 10px 0 10px;
  font-size: 0.8em;
  cursor: default;
}

.spl-header .spl-separator:hover {
  opacity: 0.5;
}
