.breadcrum {
  padding-bottom: 1em;
}

.breadcrum img {
  vertical-align: top;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
}

.flex-folder {
  position: relative;
}

.flex-folder p {
    bottom: -1.2em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: sans-serif;
    font-size: 300%;
    position: absolute;
    right: 0;
    text-decoration: none;
}

.flex-img img, .flex-folder {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 20px;
}

.month, .picture {
  border-bottom: 1px solid #ddd;
  font-size: 150%;
  padding-left: 0.5em;
}

.picture span {
  font-size: 60%;
  color: #888;
}

.fancybox-tmp {
  display: none;
}

.fancybox-title-inside-wrap img {
  width: 16px;
  vertical-align: bottom;
}

.tag {
  position: absolute;
  right: 0px;
}

.tm-tag-remove {
  text-decoration: none;
  font-size: 150%;
}

.tm-tag-selected {
  color: #4594b5 !important;
  background-color: #c5eefa !important;
  border-color: #5dc8f7 !important;
}

.tm-tag {
  padding: 0px 4px 2px !important;
}

.tm-tag span {
  cursor: default;
}
